{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}
{% block content %}
<h1 class="container mb-3">Зарегистрироваться</h1>
<!--<form action="/signup" method="post">-->
<!--    <div>-->
<!--        <label>Username</label>-->
<!--        <div>-->
<!--            <input name="username" type="text" required>-->
<!--        </div>-->

<!--        <label>Email</label>-->
<!--        <div>-->
<!--            <input name="email" type="email" required>-->
<!--        </div>-->

<!--        <label>Password</label>-->
<!--        <div>-->
<!--            <input name="password" type="text" required>-->
<!--        </div>-->
<!--    </div>-->

<!--    <button type="submit">Sign up</button>-->
<!--</form>-->


<form class="container" action="/signup" method="post">
    </div>
    <div class="mb-3">
        <label class="form-label">@username</label>
        <input type="text"  name="username" class="form-control" placeholder="Введите ваш @username" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email"  name="email" class="form-control" placeholder="Введите ваш email" required>
    </div>
        <div class="mb-3">
            <label class="form-label">Пароль</label>
            <input type="text" name="password" class="form-control" placeholder="Введите ваш пароль" required>
        </div>
        <!--  <div class="mb-3 form-check">-->
        <!--    <input type="checkbox" class="form-check-input" id="exampleCheck1">-->
        <!--    <label class="form-check-label" for="exampleCheck1">Check me out</label>-->
        <!--  </div>-->
        <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}